@font-face {
	font-family: "Poppins";
	src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
}

nav {
	background-color: #222222;
}

.nav-link {
	margin: 0 3em 0 0;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	opacity: 0.55;
	color: #f5f5f5 !important;
	transition: opacity 0.2s ease-in-out !important;
}

.nav-link:hover {
	zoom: 1 !important;
	opacity: 1 !important;
	color: #f5f5f5 !important;
}
.dropdown-menu {
	background-color: #333333 !important;
}

.dropdown-item {
	color: #f5f5f5 !important;
	opacity: 0.55;
}

.dropdown-item:hover {
	background-color: #333333 !important;
	opacity: 1;
}

.dropdown-item:focus {
	background-color: #333333 !important;
}

.brand-margin {
	margin-left: 2.4em;
}
@media only screen and (max-width: 992px) {
	.brand-margin {
		margin-left: 0;
	}
}
.logo-symbol {
	transition: line-height 0.2s ease-in-out !important;
	float: left;
	width: 44px;
	height: 44px;
	line-height: 44px;
	background-color: #007CED;
	border-radius: 100px;
	text-align: center;
	color: #fff;
	font-size: 1.4em;
	font-weight: 800;
	margin-right: 8px;
	margin-top: 4px;
}
.logo-symbol:hover{
	line-height: 38px;
}
.logo-text {
	font-family: Helvetica, sans-serif;
	float: left;
	line-height: 50px;
	font-size: 20px;
	color: #fff;
	font-weight: 600;
}

.logo-text span {
	font-weight: 400;
}

.navbar-dark .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	/*border-color: rgba(255,255,255,.1);*/
}
