.notfound-page {
	margin-top: 6em;
}

.notfound-page p {
	font-family: "Poppins", Helvetica, sans-serif;
	display: inline-block;
	color: #fff;
	background-color: #007ced;
	padding: 0 10px;
	font-size: 16px;
	line-height: 1.75em;
	font-weight: 400;
	font-style: normal;
}

.notfound-page h1 {
	font-size: 88px;
	font-family: "Poppins", Helvetica, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #e5e5e5;
}
